* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  position: relative;
  width:  500px;
  height: 500px;
  background-color: #dfefed;
  box-shadow: 0 10px 20px #e6efdc;
  border-radius: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  width: inherit;
  padding: 10px 0;
  text-align: center;
  color: #5291ce;
}